@model IEnumerable<StockViewModel>

@{
    ViewData["Title"] = "Stocks";
}
@{
    ViewBag.url = "/Stock/StocksList";
}
<partial name="~/Views/Shared/_Header.cshtml" view-data="ViewData" />

@*Add Modal To PlaceHolder*@
<div id="PlaceHolderHere"></div>

@*<div style="margin-bottom:10px">
    <button id="Add" type="button" class="btn btn-primary" data-toggle="ajax-modal" onclick="ShowAdd()"
            data-target="#AddStock" data-url="@Url.Action("Create")">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Add
    </button>

</div>*@

@*Server Side Massege*@
    <partial name="~/Views/Shared/_ServerMessageValid.cshtml" />


<div class="row">
    <div class="col-1">
    <partial name="~/Views/Shared/_sorting.cshtml" />
</div>
<div class="col-4">
       <div style="margin-left:5px" class="input-group">
        <span class="input-group-text">Filter</span>
    <input id="search" class="form-control" placeholder="Search By Product Name" type="text"  oninput="filter(this,'@ViewBag.url')" />

    </div>
    </div>
</div>


@*Render Data Table*@
<div id="Table">
</div>

<div id="spinner-div" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            LoadTable('@ViewBag.url');
        });
    </script>
}
