@using Microsoft.AspNetCore.Identity
@using Infrastructure
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
  
<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
@if (SignInManager.IsSignedIn(User))
{
    <li >
            <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
        <li>
            <hr class="dropdown-divider">
        </li>
    <li >
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="dropdown-item">Logout</button>
        </form>
    </li>
}
else
{
    <li >
            <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
        <li>
            <hr class="dropdown-divider">
        </li>
    <li >
            <a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>


@* <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>*@
